.active{
    color: white;
    font-weight: 800;
}

.logout {
  padding-top: 1px;
  padding-bottom: 1px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagesMenu {
  width: 50%;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
